<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_javascript jquery=1.7 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load fontawesome %}
{% fontawesome_stylesheet %}


<link rel="stylesheet" type="text/css" href="{% static 'SpecialGuests/specialguests.css' %}" />

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cairo Jazz Festival - Special Guests</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href=&quot;//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css&quot; rel=&quot;stylesheet&quot;>

    



</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="home">
                    <img src="{% static 'Carousel/Logo.jpg' %}" style= "width:200px;height:50px;margin-top:-15px" alt="Cairo Jazz Festival" > 
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/program">Program</a>
                    </li>
                    <li>
                        <a href="/specialguests">Special Guests</a>
                    </li>
                    <!--li>
                        <a href="/previous">Previous Festivals</a>
                    </li-->
                    <li>
                        <a href="/ourpartners">Our Partners</a>
                    </li>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                    <li>
                        <a href="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

   
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Don't Miss Out!</h1>
                <h2></h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        {% for Artist in artists %}
        {% if not forloop.first %}
        <hr class="featurette-divider">
        {% endif %}
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="{% static 'SpecialGuests/'|add:Artist.ArtistName|add:'.jpg' %}" style= "width:500px;height:500px">
            <h2 class="featurette-heading">{{Artist.ArtistName}}
            </h2>
            <p class="lead"> {{Artist.ArtistInfo}} </p>
            <h2> Place Of Origin </h2>
            <p> {{Artist.PlaceOfOrigin}} </p>
            <h2> Years Active </h2>
            <p> {{Artist.YearsRunning}} </p>
          <br>
          <p><h2> Find them on:
            <a href="{{artist.ArtistTwitter}}"><i class="fa fa-twitter"></i></a>
            <a href="{{artist.ArtistFacebook}}"><i class="fa fa-facebook"></i></a></li>
        </h2></p>
        </div>

        {% endfor %}


    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-soundcloud"></i></a>
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- jQuery -->
    <script src="js/jQuery.js"></script>
    <script src="js/bootstrap..js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script language="JavaScript" type="text/javascript">
     $(document).ready(function(){
      $('.carousel').carousel({
        interval: 5000 //changes the speed
      })
     });
    </script>

    

</body>

</html>
