<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_javascript jquery=1.7 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load fontawesome %}
{% fontawesome_stylesheet %}



<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cairo Jazz Festival - About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href=&quot;//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css&quot; rel=&quot;stylesheet&quot;>

    <style type="text/css">
        h1 {
            margin: 20px;
            padding-top: 40px;
        }
        .navbar-fixed-top {
             min-height: 60px;
             padding-top: 8px;
        }

        .navbar-fixed-bottom{
            max-height: 40px;
        }

        .navbar-nav > li > a {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 50px;
        }

        @media (max-width: 767px) {
            .navbar-nav > li > a {
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;}
        }
        .navbar .nav > li > a, .navbar .nav > li > a:first-letter,
        .navbar .nav > li.current-menu-item > a,
        .navbar .nav > li.current-menu-ancestor > a {
            display:        inline;
            font-size:      1.1em;
            padding:        5px 20px;
        }
    </style>


</head>

<body>

   <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <img src="{% static 'Carousel/Logo.jpg' %}" style= "width:200px;height:60px;margin-top:-25px" alt="Cairo Jazz Festival" > 
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!--a href="/program">Program</a-->
                        <a href="/Artists">Artists</a>
                    </li>
                    <!--li>
                        <a href="/specialguests">Special Guests</a>
                    </li-->
                    <li>
                        <a href="/ourpartners">Our Partners</a>
                    </li>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                    <li>
                        <a href="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 style="margin-top:3em;  text-indent:-40px" >About Us
                </h1>
                <p>Cairo Jazz Festival is an International festival that aims to widespread mission of Jazz to reach more people & give more exposure to both acts & audience.</p>
            </div>
        </div>

        <!-- Team Members Row -->
        <!--div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Our Team</h2>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle  img-right" src="{% static 'Carousel/Aya.jpg' %}"  style= "width:200px;height:200px" alt="">
                <h3>Aya Yasser Harb
                </h3>
                <p>Web Developer</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static 'Carousel/Omar.jpg' %}" style= "width:200px;height:200px" alt="">
                <h3>Omar Yasser Nawar
                </h3>
                <p>Web Developer</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-center" src="http://placehold.it/200x200" alt="">
                <h3>Third Person
                </h3>
                <p>Not Awesome</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static 'Carousel/Aya.jpg' %}" style= "width:200px;height:200px"  =  alt="">
                <h3>Aya Yasser Harb
                </h3>
                <p>Web Developer</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-center" src="{% static 'Carousel/Omar.jpg' %}" style= "width:200px;height:200px" alt="">
                <h3>Omar Yasser Nawar
                </h3>
                <p>Web Developer</p>
            </div>
            <div class="col-lg-3 col-sm-6 text-center">
                <img class="img-circle img-center" src="http://placehold.it/200x200" alt="">
                <h3>Third Person
                </h3>
                <p>Web Developer</p>
            </div>
        </div-->

        <p><br><br><br></p>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://twitter.com/cairojazzfest" target="_blank" style="target-new: tab;"><i class="fa fa-twitter fa-lg"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/cairojazzfest" target="_blank" style="target-new: tab;"><i class="fa fa-facebook fa-lg"></i></a>
                        </li>
                        <li><a href="http://instagram.com/cairojazzfestival/" target="_blank" style="target-new: tab;"><i class="fa fa-instagram fa-lg" ></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCLX5uKKP-ooL6Xoahb23DCg?&ab_channel=cairojazzfestival" target="_blank" style="target-new: tab;"><i class="fa fa-youtube fa-lg"></i></a>
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
