<!DOCTYPE html>
<html lang="en">

{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_javascript jquery=1.7 %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load fontawesome %}
{% fontawesome_stylesheet %}

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cairo Jazz Festival - About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href=&quot;//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css&quot; rel=&quot;stylesheet&quot;>

    <style type="text/css">
        .featurette-divider {
            margin: 80px 0;
        }
        .navbar-fixed-top {
             min-height: 60px;
             padding-top: 8px;
        }

        .navbar-fixed-bottom{
            max-height: 40px;
        }

        .navbar-nav > li > a {
            padding-top: 0px;
            padding-bottom: 0px;
            line-height: 50px;
        }

        @media (max-width: 767px) {
            .navbar-nav > li > a {
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;}
        }
        .navbar .nav > li > a, .navbar .nav > li > a:first-letter,
        .navbar .nav > li.current-menu-item > a,
        .navbar .nav > li.current-menu-ancestor > a {
            display:        inline;
            font-size:      1.1em;
            padding:        5px 20px;
        }
    </style>

</head>

<body>

<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/home">
                    <img src="{% static 'Carousel/Logo.jpg' %}" style= "width:200px;height:60px;margin-top:-25px" alt="Cairo Jazz Festival" > 
                </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <!--a href="/program">Program</a-->
                        <a href="/Artists">Artists</a>
                    </li>
                    <!--li>
                        <a href="/specialguests">Special Guests</a>
                    </li-->
                    <li>
                        <a href="/ourpartners">Our Partners</a>
                    </li>
                    <li>
                        <a href="/aboutus">About Us</a>
                    </li>
                    <li>
                        <a href="/contactus">Contact Us</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container" style="margin-bottom:5em;margin-top:5em">
        <!--Row-->
        <div class="row">

            <div class="col-sm-2 portfolio-item">
                <a href="http://www.alazharpark.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Al-Azhar Park Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.virginmegastore.me/index.aspx?ID=4" target="_blank" style="target-new: tab;">
                   <img class="img-responsive" src="{% static 'Carousel/Virgin Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.tedata.net/eg/en/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/TE DATa.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.ticketsmarche.com/"  target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Tickets Marche LOGO2012.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.cairo360.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Cairo360.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://insight-egypt.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Insight-logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->


        <!--Row-->
        <div class="row">

            <div class="col-sm-2 portfolio-item">
                <a href="http://ontveg.com/" target="_blank" style="target-new: tab;">
                   <img class="img-responsive" src="{% static 'Carousel/Ontv Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.dw.de/top-stories/middle-east/s-14207" target="_blank" style="target-new: tab;">
                   <img class="img-responsive" src="{% static 'Carousel/DWLogo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://teenstuff.com/"  target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/TeenStuff_Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.kelmetnamag.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/kelmtna.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.nilefmonline.com/nile/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Nile FM Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.wasla.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/wasla logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <!--Row-->
        <div class="row">
            <div class="col-sm-2 portfolio-item">
                
                    <img class="img-responsive" src="{% static 'Carousel/BL Logo Swiss.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="https://eg.mfa.lt/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/LR Ambasados Egypt Logo.jpg' %}" style= "height:150px; margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.mzv.cz/cairo/en/" target="_blank" style="target-new: tab;">
                   <img class="img-responsive" src="{% static 'Carousel/Czech Embassy Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.amideast.org/egypt" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/AMIDEAST Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>

            <div class="col-sm-2 portfolio-item">
                    <img class="img-responsive" src="{% static 'Carousel/NFC BULGARIA Logo.jpg' %}" style= "height:150px; margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                    <img class="img-responsive" src="{% static 'Carousel/Camoes-CMYK_ULM.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!--Row-->
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="http://www.aecid.es/ES/cultura/red-exterior/embajadas" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/AECID  EMABAJADA.JPG' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.britishcouncil.org.eg/en" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/BRITISH COUNCIL.png' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.goethe.de/ins/eg/kai/arindex.htm" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Goethe Institut logo.png' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            
            <div class="col-sm-2 portfolio-item">
                    <img class="img-responsive" src="{% static 'Carousel/The Jazz Society logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.acfc.cc/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Austrian Cultural Forum logo new.bmp' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>

            
        </div>
        <!-- /.row -->



            
        <!--Row-->
        <div class="row">
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.darb1718.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Darb_logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://mawred.org/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Mawred Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.jpf.go.jp/e/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Japan Foundation logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.prohelvetia.org.eg/1577.0.html?&L=4" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Pro Helvetia.png' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item" >
                <a href="http://www.travcotels.com/"  target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Travcotels Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.kempinski.com/en/cairo/nile-hotel/welcome/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Kempinsk Nile Hotel.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>

        </div>
        <!-- /.row -->

        <!--Row-->
        <div class="row">
            <div class="col-sm-2 portfolio-item">
                <a href="http://egypt.usembassy.gov/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/American Embassy Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://egypt.usembassy.gov/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Netherlands Logo.gif' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://institutfrancais-egypte.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Institut-Francais Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.fairmont.com/nile-city-cairo/?cmpid=google_cai_search-branded_me-branded-e-revsh&s_kwcid=TC|1025556|fairmont%20nile%20city||S|e|60386528231&gclid=CJfau-yx2MMCFRTMtAod810AIg" target="_blank" style="target-new: tab;">
                   <img class="img-responsive" src="{% static 'Carousel/Fairmont Nile City Cairo Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://cairojazzclub.com/" target="_blank" style="target-new: tab;">
                   <img class="img-responsive" src="{% static 'Carousel/CJC logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://egyptmusic.org/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/MAKAN logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->

        <!--Row-->
        <div class="row">
            <div class="col-sm-2 portfolio-item">
                    <a href="http://www.artmaniacenter.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Art Mania Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.vibecairo.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Vibe Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                    <img class="img-responsive" src="{% static 'Carousel/MCr logo4 bl.PNG' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            
            <div class="col-sm-2 portfolio-item">
                    <img class="img-responsive" src="{% static 'Carousel/Agwa_logo_final-[Converted].jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://www.meyersound.com/index.php" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/Meyer-Sound.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
            <div class="col-sm-2 portfolio-item">
                <a href="http://moderntouch-ent.com/" target="_blank" style="target-new: tab;">
                    <img class="img-responsive" src="{% static 'Carousel/MT Logo.jpg' %}" style= "height:150px;margin-top:15px; margin-bottom:15px " alt="">
                </a>
            </div>
        </div>
        <!-- /.row -->


            

    <p><br><br><br></p>
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://twitter.com/cairojazzfest" target="_blank" style="target-new: tab;"><i class="fa fa-twitter fa-lg"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/cairojazzfest" target="_blank" style="target-new: tab;"><i class="fa fa-facebook fa-lg"></i></a>
                        </li>
                        <li><a href="http://instagram.com/cairojazzfestival/" target="_blank" style="target-new: tab;"><i class="fa fa-instagram fa-lg" ></i></a>
                        </li>
                        <li><a href="https://www.youtube.com/channel/UCLX5uKKP-ooL6Xoahb23DCg?&ab_channel=cairojazzfestival" target="_blank" style="target-new: tab;"><i class="fa fa-youtube fa-lg"></i></a>
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


       
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
